<div ng-if="projectForm">
  
  <mat-horizontal-stepper [linear] = "isLinear" #stepper>
    <mat-step [stepControl]="clientFormGroup">
      <form [formGroup]="clientFormGroup">
        <ng-template matStepLabel>Fill in Client Details</ng-template>
        <div style="float:initial;">Company Name</div>
        <mat-form-field style="float: inherit;">
          <mat-select placeholder="Select a client" formControlName="clientName">
            <mat-option *ngFor="let client of clients" [value]="client.value">
              {{client.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div></div>
        <mat-form-field style="width:25%">
          <textarea matInput placeholder="Company Address" formControlName="clientAdd"></textarea>
        </mat-form-field>
        <mat-divider></mat-divider>
        <div><h1>Contact Person</h1></div>
        <div style="float:initial">Name</div>
        <mat-form-field>
          <input matInput placeholder="First Name" formControlName="conFName" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="M.I." formControlName="conMidInit"> 
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="conLName" required>
        </mat-form-field>
        <div></div>
        <mat-form-field>
          <input matInput placeholder="Contact Number" formControlName="conNumber" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="conEmail" required>
        </mat-form-field>
      </form>
      <div>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>

    <!--Second Form-->
    <mat-step [stepControl]="projectFormGroup">
      <form [formGroup]="projectFormGroup">
        <ng-template matStepLabel>Fill in Project Details</ng-template>
        <div style="float:initial;">Company Name</div>
        <mat-form-field style="float: inherit;">
          <mat-select placeholder="Select a client" formControlName="clientName">
            <mat-option *ngFor="let client of clients" [value]="client.value">
              {{client.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div></div>
        <mat-form-field style="width:25%">
          <textarea matInput placeholder="Company Address" formControlName="clientAdd"></textarea>
        </mat-form-field>
        <mat-divider></mat-divider>
        <div><h1>Contact Person</h1></div>
        <div style="float:initial">Name</div>
        <mat-form-field>
          <input matInput placeholder="First Name" formControlName="conFName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="M.I." formControlName="conMidInit">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Last Name" formControlName="conLName">
        </mat-form-field>
        <div></div>
        <mat-form-field>
          <input matInput placeholder="Contact Number" formControlName="conNumber">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="conEmail">
        </mat-form-field>
      </form>
      <div>
        <button mat-button matStepperNext type="button">Next</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>


  <button mat-raised-button style="margin-top: 2rem;" color="accent">
    <i class="material-icons md-20">save</i>
    Save
  </button>
  <button mat-raised-button style="margin-top: 2rem; margin-left: 0.5rem" color="warn">
    <i class="material-icons md-20">cancel</i>
    Cancel
  </button>
</div>
