.hidden {
    display: none;
}
mat-form-field {
    margin-right: 5%;
    min-width: 25%;

}

.note {
    min-width: 65%;
}

.headers-align .mat-expansion-panel-header-title, 
.headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
} 
