@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700i|Raleway');
 

.background {
    background-image: url('./../../assets/bg/home.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    color: white;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-style: italic;
}

.google {
    height: 2em;
    margin-right: 2em;
}

.googleLogin {
    margin-top: 0.1em;
    border-style: solid;
    background-color: transparent;
    color: white;
    border-width: 0.15em;
    border-color: white;
    padding: 0.2em;
    border-radius: 2em;
    width: 15em;
    display: block;
    margin-left: auto;
    margin-right: 54.5em;
}
.googleLogin:hover {
    background-color: rgba(41, 128, 185,0.6);
    display: block;
}

.containerLogin {
    width: 15em;
    display: block;
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    color: white;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    padding: 0.2em;
}
.inputs {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}
.eye {
    cursor: pointer;
}
.login {
    width: 15em;
    background-color: transparent;
    color: white;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    border-style: solid;
    border-width: 0.15em;
    border-color: white;
    padding: 0.2em;
    border-radius: 2em;
}
.login:hover {
    background-color: rgba(41, 128, 185,0.6);
    display: block;
}

mat-toolbar {
    padding: 0px;
    background-color: transparent;
}

.title {
    font-size: 1.5em;
    margin-left: 0.5em;
    color: white;
}

.wrapper {
    padding: 0px;
}

.nav div {
    height: 5px;
    background: #fff;
    margin: 5px 0;
    border-radius: 24px;
    transition: .3s;
}

.nav {
    display: block;
    margin: 2em 0 0 2em;
    width: auto;
    background-color: transparent;
    margin-left: 0px;
    margin-top: 0px;
}

.one {
    width: 30px;

}

.two {
    width: 15px;
}

.three {
    width: 20px;
}

//end for content style


//navigation style
.nav:hover div {
    width: 30px
}

.logo {
    height: 3em;
    display: block;
    margin-left: 65em;
    margin-right: auto;
}

.logoPos {
    float: right;
}

mat-drawer-container { 
    min-height: 100%;
    position: absolute;
}


.drawerBar {
    width: 20em;
    background-color: rgba(0, 0, 0, 0.7);
}

.menuStyle {
    font-size: 2em;
    padding: 20px;

}

.navBtn {
    width: 100%;
    padding: 20px;
    background-color: transparent;
    color: white;
}

.navBtn:hover {
    background-color: rgba(52, 152, 219,0.5);
}

.navBtn:active {
    background-color: rgba(52, 152, 219,0.5);
}

//end of navigation style