<mat-drawer-container class="background">
  <mat-drawer #drawer mode="push" class="drawerBar"> 
      <mat-toolbar>
        <div class="wrapper">
          <span class="menuStyle">Menu</span>
        </div>
      </mat-toolbar>
      <mat-nav-list>
        <button mat-button class="navBtn">About</button>
        <button mat-button class="navBtn">Tutorial</button>
        <button mat-button class="navBtn">Contact Us</button>
      </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
      <mat-toolbar>
          <div class="wrapper">
              <button mat-button class="nav" (click)="drawer.toggle()">
                  <div class="one"></div>
                  <div class="two"></div>
                  <div class="three"></div>
              </button>
          </div>
          
          <div class="title">
              Project Sili
          </div>
          <div>
              <img src="../../../assets/bg/editedlogo.png" class="logo logoPos">
          </div>
      </mat-toolbar>
    <div>
        <div class='containerLogin'>
          <mat-form-field appearance="outline" class='inputs'>
            <mat-label>Username</mat-label>
            <input matInput [(ngModel)]='userName' value="">
          </mat-form-field>
          <mat-form-field appearance="outline" class='inputs'>
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]='password' [type]="hide ? 'text' : 'password'">
            <mat-icon matSuffix class='eye' (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
          <button mat-stroked-button class='login' (click)='inputLogin(userName,password)'>Login</button>
          <button mat-button class="googleLogin" (click)="googleLogin()">        
            <span>
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" class="google">
              <span>Google Login</span>
            </span>
          </button>
        </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>