<div>
  <h3 mat-dialog-title></h3>
  <mat-dialog-content>
  	<h4>Waiting for approval</h4> <br/>
  </mat-dialog-content>
  <mat-dialog-actions>
  	<button mat-raised-button color='accent' (click)='onClose()'>Close</button>
  </mat-dialog-actions>
</div>