<div>
  <h3 mat-dialog-title>{{ title }}</h3>
  
  <mat-dialog-content>
  	<mat-form-field>
  	  <mat-select placeholder="Change Shift" [(ngModel)]='s'>
  	    <mat-option *ngFor="let shift of shifts" [value]="shift.value">
  	      {{ shift.viewValue }}
  	    </mat-option>
  	  </mat-select>
  	</mat-form-field>
  </mat-dialog-content>
  
  <mat-dialog-actions>
  	<button mat-raised-button color='accent' (click)='onConfirm(s)'>Confirm</button>
  	<button mat-raised-button color='warn' (click)='onClose()'>Close</button>
  </mat-dialog-actions>
</div>
