.logo {
    margin-left: 45%;
}

.size {
    height: 150px;
}

// .container {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: nowrap;
//     justify-content: center;
//     align-items: center;
//     align-content: center;

//     background-color: red;
// }

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: row nowrap;
    min-width: 98%;
    max-width: 98%;
}

.column {
    flex: 1 1;
    margin-left: 1%;
    margin-right: 1%;
}