<div>
  <h3 mat-dialog-title>{{ title }}</h3>
  <mat-dialog-content>
  	<h4>{{ message }}?</h4>
  </mat-dialog-content>
  
  <!-- for updating new time -->
  <div *ngIf='onConfirmCB=="newTime"'>
  	TimeIn: {{ clockin }} <br/>
  	Timeout: {{ clockout }} <br/>
  	New TimeIn: {{ newClockin }} <br/>
  	New TimeOut: {{ newClockout }}
  </div>

  <mat-dialog-actions>
  	<button mat-raised-button color='accent' (click)='onConfirm()'>Confirm</button>
    <button *ngIf='onConfirmCB=="newTime"' mat-raised-button color='primary' (click)='reject()'>Reject</button>
  	<button mat-raised-button color='warn' (click)='onClose()'>Close</button>
  </mat-dialog-actions>
</div>