<div>
  <h3 mat-dialog-title>{{ title }}</h3>
  <mat-dialog-content>
  	<h4>{{ message }}</h4> <br/>
  </mat-dialog-content>

<mat-horizontal-stepper linear="true" #stepper>
  <mat-step [stepControl]="employeeDetailGroup">
    <form [formGroup]="employeeDetailGroup">
      <ng-template matStepLabel>Personal Information</ng-template>
      <div class="row">
        <mat-form-field class="column">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="empFName" [(ngModel)]="first_name" value="{{ this.firstName }}">
        </mat-form-field>
        <mat-form-field class="column">
          <mat-label>Middle Initial</mat-label>
          <input matInput formControlName="empMidInit" [(ngModel)]="middle_name" value="{{ this.middleName }}"> 
        </mat-form-field>
        <mat-form-field class="column">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="empLName" [(ngModel)]="last_name" value="{{ this.lastName }}">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="column">
          <input matInput [matDatepicker]="picker" placeholder="Birthday" formControlName="empBDay" [(ngModel)]="birthday">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker startView="year"></mat-datepicker> 
        </mat-form-field>
        <mat-form-field class="column">
          <mat-label>Mobile Number</mat-label>
          <input matInput formControlName="empMobNum" placeholder="e.g. 09955888712" [(ngModel)]="mobile_number" value="{{ this.mobileNumber }}">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="column">
          <mat-label>E-mail Address</mat-label>
          <input matInput formControlName="empEmail" [(ngModel)]="email"> <br/>
        </mat-form-field>
        <button mat-button type="button">Verify Email</button>
      </div>
      <div class="row">
        <mat-form-field class="column">
          <mat-label>Home Address</mat-label>
          <input matInput formControlName="empHomeAdd" [(ngModel)]="home_address">
        </mat-form-field>
      </div>
    </form>
    <button mat-button matStepperNext type="button">Next</button>
  </mat-step>
  
  <mat-step [stepControl]="designationFormGroup">
    <form [formGroup]="designationFormGroup">
      <ng-template matStepLabel>Designation</ng-template>
      <div class="row">
        <mat-form-field class="column">
          <mat-label>Designation</mat-label>
          <mat-select formControlName="empDesignation" [(ngModel)]="designation">
            <mat-option *ngFor="let designation of designations" [value]="designation.value">
              {{designation.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="column">
          <mat-label>Team</mat-label>
          <mat-select formControlName="empTeam" [(ngModel)]="team">
            <mat-option *ngFor="let team of teams" [value]="team.value">
              {{team.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="column">
          <mat-label>Department</mat-label>
          <mat-select formControlName="empDept" [(ngModel)]="department">
            <mat-option *ngFor="let department of departments" [value]="department.value">
              {{department.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="column">
          <mat-label>Supervisor</mat-label>
          <mat-select formControlName="empSupervisor" [(ngModel)]="supervisor">
            <mat-option *ngFor="let supervisor of supervisors" [value]="supervisor.value">
              {{supervisor.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  
  <mat-step [stepControl]="finalFormGroup">
    <form [formGroup]="finalFormGroup">
      <ng-template matStepLabel>Employee Information</ng-template>
      <div class="row">
        <mat-form-field class="column"> 
          <mat-label>Identification Number</mat-label>
          <input matInput placeholder="Must be 8 digits" formControlName="IDNum" type="number" [(ngModel)]="identification_number">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="column">
          <mat-label>Position</mat-label>
          <mat-select formControlName="empPosition" [(ngModel)]="position">
            <mat-option *ngFor="let position of positions" [value]="position.value">
              {{position.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
    <button mat-button matStepperPrevious type="button">Back</button>
    <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
  </mat-step>
</mat-horizontal-stepper>
  <mat-dialog-actions>
  	<button
  	  mat-raised-button
  	  color='accent'
  	  (click)='onConfirm(
  	    first_name,
  	    middle_name,
  	    last_name,
  	    birthday,
  	    mobile_number,
  	    email,
  	    home_address,
  	    designation,
  	    team,
  	    department,
  	    supervisor,
  	    identification_number,
  	    position
  	  )'
  	>
      Confirm
    </button>
  	<button mat-raised-button color='warn' (click)='onClose()'>Close</button>
  </mat-dialog-actions>
</div>