<div>
  <h3 mat-dialog-title>{{ title }}</h3>
  <mat-dialog-content>
  	<h4>{{ message }}</h4> <br/>
  	<mat-form-field>
  	  <mat-select placeholder="Clock in" [(ngModel)]='newTime'>
  	  	<mat-option *ngFor="let time of times" [value]="time.value">
  	  	  {{ time.value }}
  	    </mat-option>
  	  </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select [(ngModel)]='per' [(value)]='pers'>
        <mat-option *ngFor="let p of period" [value]="p.value">
          {{ p.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
  	<button mat-raised-button color='accent' (click)='onConfirm(newTime,per)'>Confirm</button>
  	<button mat-raised-button color='warn' (click)='onClose()'>Close</button>
  </mat-dialog-actions>
</div>