<div>
  <h3 mat-dialog-title>Add Shift</h3>
  <mat-dialog-content>
  	<h4>Date</h4>
  	<div>
  	  From: <mat-form-field>
  	  	<input matInput [matDatepicker]="from" [(ngModel)]='dateFrom'>
  	  	<mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
  	  	<mat-datepicker #from></mat-datepicker>
  	  </mat-form-field>
  	  To: <mat-form-field>
  	  	<input matInput [matDatepicker]="to" [(ngModel)]='dateTo'>
  	  	<mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
  	  	<mat-datepicker #to></mat-datepicker>
  	  </mat-form-field>
  	</div> <br/>
  	<h4>Time: 12hr Format</h4><br/>
  	<div>
      From: 
      <mat-form-field>
      	<input
      	  matInput style='width: 38%;'
      	  (change)='handleTextChange($event)'
      	  name='timeFrom'
      	  value=''
      	  [(ngModel)]='timeFrom'
        >
      </mat-form-field>
      <mat-form-field>
        <mat-select [(value)]='fromPeriod' [(ngModel)]='fromPeriod'>
          <mat-option *ngFor="let p of periods" [value]="p.value">
            {{p.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br/>
      To:&nbsp;&nbsp;&nbsp;&nbsp;
      <mat-form-field>
      	<input
      	  matInput style='width: 50%;'
      	  (change)='handleTextChange($event)'
      	  name='timeTo'
      	  value={{valueTimeTo}}
      	  [(ngModel)]='timeTo'
        >
      </mat-form-field>
      <mat-form-field>
        <mat-select [(value)]='toPeriod' [(ngModel)]='toPeriod'>
          <mat-option *ngFor="let p of periods" [value]="p.value">
            {{p.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  	</div>
  </mat-dialog-content>
  <mat-dialog-actions>
  	<button mat-raised-button color='accent' (click)='onConfirm(dateFrom,dateTo,timeFrom,timeTo,fromPeriod,toPeriod)'>Confirm</button>
  	<button mat-raised-button color='warn' (click)='onClose()'>Close</button>
  </mat-dialog-actions>
</div>