<mat-toolbar color="primary" class="footer">
  <mat-toolbar-row class="flex-container">
    <div class="flex-content">Project Sili</div>
    <div class="flex-content version">Current Version 0.0.1</div>
    <div class="flex-content help">
      <a mat-button href="https://gitlab.com/amihan/blockchain/sili">Please Help!</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
