.footer{
    // margin-top: 200px !important;
    bottom: 0px !important;
}

.felx-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.flex-content {
    flex: 1 1;
}

.version {
    text-align: center;
    font-size: 10px;
}

.help {
    text-align: right;
}
