@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700i|Raleway');
 
//end for content style


//navigation style with toolbar

mat-toolbar {
    width: 100%;
}
.color {
    background-color: #0984e3;
    color: white;
    font-family: 'Lora', serif;
    font-weight: 700;
    font-style: italic;
}
.time-btn:hover {
  color: red;
  border: 1px solid;
}

.title {
    font-size: 1.5em;
    margin-left: 0.5em;
}

.wrapper {
    padding: 0px;
}

.nav div {
    height: 5px;
    background: #fff;
    margin: 5px 0;
    border-radius: 24px;
    transition: .3s;
}

.nav {
    display: block;
    margin: 2em 0 0 2em;
    width: 1em;
    background-color: transparent;
    margin-left: 0px;
    margin-top: 0px;
}

.one {
    width: 30px;

}

.two {
    width: 15px;
}

.three {
    width: 20px;
}


.nav:hover div {
    width: 30px
}

.logo {
    height: 3em;
    display: block;
    margin-left: 45em;
    margin-right: auto;
}

.logoPos {
    float: right;
}

.drawerBar {
    width: 20em;
}

.menuStyle {
    font-size: 2em;
    padding: 20px;

}



.navBtn:hover {
    background-color: rgba(52, 152, 219,0.5);
}

.navBtn:active {
    background-color: rgba(52, 152, 219,0.5);
}

//end style for navigation style

//style for side navigation content

.background {
    background: #02AAB0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00CDAC, #02AAB0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 17.5em;
}

.overlay {
    background-color: rgba(0,0,0,0.4);
    height: 16em;
    padding-top: 1.5em;
    padding-left: 1em;
    width: auto;
}

.profile-pic{
    border-radius: 100%;
}

.navBtn {
    width: 100%;
    padding: 20px;
    background-color: transparent;
    color: black;
}
//end style for side navigation content

//style for mat-content

//end style for mat-content