<mat-toolbar class="color">
  <div class="wrapper">
    <button mat-button class="nav" (click)="drawer.toggle()">
      <div class="one"></div>
      <div class="two"></div>
      <div class="three"></div>
    </button>
  </div>
  
  <div class="title">
      Project Sili
  </div>
  <div>
      <img src="../../../assets/bg/editedlogo.png" class="logo logoPos">
  </div>
</mat-toolbar>
<mat-sidenav-container style="height: 100%;">
  <mat-sidenav #drawer mode="push" role="navigation" class="drawerBar">
    <div class="background">
      <div class="overlay">
        <div>
          <button mat-button [matMenuTriggerFor]="menu">
            <!-- <div class="container">
              <div mat-card-avatar class="pp column" [style.background]="'url(' + pimg + ')'"></div>
              <div class="column">{{ name }}</div>
            </div> -->
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>My Profile</button>
            <button mat-menu-item routerLink="/dtr">My Time Report</button>
            <button mat-menu-item>Referrals</button>
            <button mat-menu-item (click)="signOut()">Signout</button>
          </mat-menu>
        </div>
        <div>
          <img src="{{pimg}}" class="profile-pic"/>
        </div>
        <div>
          <h3>Welcome, {{name}}</h3>
        </div>
        <div>
          <h5>{{date | date: 'longDate'}}</h5>
        </div>
        <div>
          <button mat-button color={{color}} matTooltip={{tooltip}} class="time-btn" (click)="empAttendance()">
            {{btnText}}
          </button>
        </div>
        <div>
          <button mat-button (click)="signOut()">
            Sign Out
          </button>
        </div>
      </div>
    </div>

    <mat-nav-list>
      <div>
        <a mat-button routerLink="dashboard" class="navBtn">Dashboard</a>
        <a mat-button routerLink="time-sheet" class="navBtn">Time-Sheet</a>
        <a mat-button routerLink="attendance" class="navBtn">Daily Time-In Record</a>
        <a mat-button routerLink="projects" class="navBtn">Projects</a>
      </div>
      <div class="{{admin_view}}">
        <a mat-button routerLink="manage" class="navBtn">Manage</a>
        <a mat-button routerLink="expenses" class="navBtn">Expenses</a>
        <a mat-button routerLink="reports" class="navBtn">Reports</a>
        <a mat-button routerLink="invoices" class="navBtn">Invoices</a>
      </div>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
