<div>
  <mat-card-content>
  	<table class="table table-bordered table-striped table-hover">
  	  <thead>
  	    <tr>
  	      <th class="text-center">Date</th>
          <th class="text-center">Time-In</th>
          <th class="text-center">Time-Out</th>
          <th class="text-center">Status</th>
          <th class="text-center">Employee</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let emp of empData; let i index' (click)='rowClicked(i)'>
          <td>
            {{ emp.date }}
          </td>
          <td *ngIf="emp.late==false; else lateFlag">
            <button mat-button (click)='clockTime("Clockin")'>{{ emp.clockin }}</button>
          </td>
          <ng-template #lateFlag>
            <button
              mat-button
              matBadge="!"
              matBadgePosition="before"
              matBadgeColor="warn"
              matTooltip='LATE'
              matTooltipPosition='left'
              (click)='clockTime("Clockin")'
            >
              {{ emp.clockin }}
            </button>
          </ng-template>
          <td>
            <button mat-button (click)='clockTime("Clockout")'>{{ emp.clockout }}</button>
          </td>
          <td *ngIf="emp.approved=='For_Approved'; else noFlag">
            <button
              mat-stroked-button
              [disabled]='isDisabled'
              matBadge="!"
              matBadgePosition="before"
              matBadgeColor="primary"
              matTooltip='For Approve'
              matTooltipPosition='left'
              (dblclick)='approveAttendance()'
            >
              {{ emp.approved }}
            </button>
          </td>
        <ng-template #noFlag>
          <td>
            <button
              mat-button
              [disabled]='isDisabled'
              (dblclick)='approveAttendance()'
            >
              {{ emp.approved }}
            </button>
          </td>
        </ng-template>
          <td>
            {{ emp.employee.first_name }} {{ emp.employee.middle_name }}. {{ emp.employee.last_name }}
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
              
  <mat-card-content>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Update All Clockin" value="" [(ngModel)]='allClockin'>
    </mat-form-field>
    <mat-form-field>
      <mat-select [(ngModel)]='allClockinPeriod' [(value)]="clockinPer">
        <mat-option *ngFor="let p of periods" [value]="p.value">
          {{ p.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Update All Clockout" value="" [(ngModel)]='allClockout'>
    </mat-form-field>
    <mat-form-field>
      <mat-select [(ngModel)]='allClockoutPeriod' [(value)]="clockoutPer">
        <mat-option *ngFor="let p of periods" [value]="p.value">
          {{ p.value }}
        </mat-option>
      </mat-select>
    </mat-form-field>
      <button
        mat-flat-button
        color='accent'
        (click)='updateApproveTime(
          allClockin,
          allClockinPeriod,
          allClockout,
          allClockoutPeriod,
          "updateAllTime"
        )'
      >
        Update All Time
      </button>
      <button
        mat-flat-button
        color='accent'
        *ngIf = 'show'
        (click)='updateApproveTime(
          allClockin,
          allClockinPeriod,
          allClockout,
          allClockoutPeriod,
          "approveAllTime"
        )'
      >
        Approve All Time
      </button>
  </mat-card-content>
</div>