<mat-tab-group>
  <mat-tab *ngFor="let item of dateHeader" label="{{item.day}}, {{item.date | date:'MMM dd'}}">
    <mat-card class="row header">
      <div class="column project-label">Project</div>
      <div class="column">Hours</div>
    </mat-card>
    <!-- <mat-card class="row" *ngFor="let item of dailyWork; let i = index">
      <div class="column project-label">
          {{item.Act}}{{item.client}}{{item.Project}}{item.hours}
      </div>
      <mat-form-field class="column" >
          
  </mat-card> -->
    <br>
    <div class="column">
        <button mat-raised-button color="accent"><i class="material-icons md-18">add</i>add</button>
    </div>
  </mat-tab>
</mat-tab-group>
