.row{
    display: flex !important;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-flow: row nowrap;
    min-width: 98% !important;
    max-width: 98% !important;
}

.column {
    min-width: 9%;
    text-align: center;
}

.project-label {
    flex-shrink: 1000;
    min-width: 18% !important;
}

.header {
    background-color: #283593;
    color: white;
}

.mat-raised-button {
    margin: 5px;
}

.task-name {
    display: inline;
    font-weight: bold;
}