<mat-card class="warning-card">
    <mat-card-header>
        <i mat-card-avatar class="material-icons md-48">error_outline</i>
        <mat-card-title><h2>Error: 404</h2></mat-card-title>
        <mat-card-subtitle>Page Not Found</mat-card-subtitle>
    </mat-card-header>
</mat-card>

