@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-indigo, 700, 500, 800);
$accent:  mat-palette($mat-green, 700, 700, 800);
$warn:    mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
