<mat-horizontal-stepper [linear]="isLinear" #stepper>

  <!-- first -->
  <mat-step [stepControl]="employeeDetailGroup">
    <form [formGroup]="employeeDetailGroup">
      <ng-template matStepLabel>Personal Information</ng-template>
      <div class="row">
        <mat-form-field class="column">
          <mat-label>First Name</mat-label>
          <input matInput formControlName="empFName" [(ngModel)]="first_name" required name='fname' (change)='handleTextChange($event)'>
        </mat-form-field>
      
        <mat-form-field class="column">
          <mat-label>Middle Initial</mat-label>
          <input matInput formControlName="empMidInit" [(ngModel)]="middle_name" required> 
        </mat-form-field>
      
        <mat-form-field class="column">
          <mat-label>Last Name</mat-label>
          <input matInput formControlName="empLName" [(ngModel)]="last_name" required>
        </mat-form-field>
      </div>
      
      <div class="row">
        <mat-form-field class="column">
          <input matInput [matDatepicker]="picker" placeholder="Birthday" formControlName="empBDay" [(ngModel)]="birthday" required >
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker startView="year"></mat-datepicker> 
        </mat-form-field>
        
        <mat-form-field class="column">
          <mat-label>Mobile Number</mat-label>
          <input matInput formControlName="empMobNum" placeholder="e.g. 09955888712" [(ngModel)]="mobile_number" required>
        </mat-form-field>
      </div>
      
      <div class="row">
        <mat-form-field class="column">
          <mat-label>E-mail Address</mat-label>
          <input matInput formControlName="empEmail" [(ngModel)]="email" required name='email' (change)='handleTextChange($event)'> <br/>
          <mat-hint style="color: #f44336; font-size: 1.2em; font-style: italic;">{{error.email}}</mat-hint>
        </mat-form-field>
        <button mat-button (click)="checkEmail(email)" type="button">Verify Email</button>
      </div>
      
      <div class="row">
          <mat-form-field class="column">
            <mat-label>Home Address</mat-label>
            <input matInput formControlName="empHomeAdd" [(ngModel)]="home_address" required>
          </mat-form-field>
      </div>
    </form>
    <button mat-button matStepperNext type="button">Next</button>
  </mat-step>

  <!-- second -->
  <mat-step [stepControl]="designationFormGroup">
    <form [formGroup]="designationFormGroup">
      <ng-template matStepLabel>Designation</ng-template>
      <div class="row">
        <mat-form-field class="column">
          <mat-label>Designation</mat-label>
          <mat-select formControlName="empDesignation" [(ngModel)]="designation">
            <mat-option *ngFor="let designation of designations" [value]="designation.value">
              {{designation.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      
      <div class="row">
        <mat-form-field class="column">
          <mat-label>Team</mat-label>
          <mat-select formControlName="empTeam" [(ngModel)]="team">
            <mat-option *ngFor="let team of teams" [value]="team.value">
              {{team.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div class="row">
        <mat-form-field class="column">
          <mat-label>Department</mat-label>
          <mat-select formControlName="empDept" [(ngModel)]="department">
            <mat-option *ngFor="let department of departments" [value]="department.value">
              {{department.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div class="row">
        <mat-form-field class="column">
          <mat-label>Supervisor</mat-label>
          <mat-select formControlName="empSupervisor" [(ngModel)]="supervisor">
            <mat-option *ngFor="let supervisor of supervisors" [value]="supervisor.value">
              {{supervisor.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
    <button mat-button matStepperPrevious type="button">Back</button>
    <button mat-button matStepperNext type="button">Next</button>
  </mat-step>

  <!-- third -->
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Employee Information</ng-template>
      <div class="row">
        <mat-form-field class="column"> 
          <mat-label>Identification Number</mat-label>
          <input matInput placeholder="Must be 8 digits" formControlName="IDNum" type="number" [(ngModel)]="identification_number" required>
        </mat-form-field>
      </div>
      
      <div class="row">
        <mat-form-field class="column">
          <mat-label>Position</mat-label>
          <mat-select formControlName="empPosition" [(ngModel)]="position">
            <mat-option *ngFor="let position of positions" [value]="position.value">
              {{position.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <!-- <mat-divider></mat-divider> -->
      <!-- <div class="row">
        <mat-form-field class="column">
          <mat-label>Shift</mat-label>
          <mat-select formControlName="empShiftReal" [(ngModel)]="shift">
            <mat-option *ngFor="let shift of shifts" [value]="shift.value">
              {{shift.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
    </form>
    <button mat-button matStepperPrevious type="button">Back</button>
    <button mat-button matStepperNext type="button">Next</button>
  </mat-step>

  <!-- TODO LATER -->
  <!-- finalForm -->
  <mat-step [stepControl]="loginForm">
    <form [formGroup]="loginFormGroup">
      <ng-template matStepLabel>Login</ng-template>
      <div class="row">
        <mat-form-field class="column">
          <mat-label>User Name</mat-label>
          <input matInput formControlName="empUserName" [(ngModel)]="userName" required name='userName' (change)='handleTextChange($event)'>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="column">
          <mat-label>Password</mat-label>
          <!-- <input matInput formControlName="empPassword" [(ngModel)]="password" required name='password' (change)='handleTextChange($event)'> -->
          <input
            matInput
            formControlName="empPassword"
            [(ngModel)]='password'
            [type]="hide ? 'text' : 'password'"
            name='password'
            (change)='handleTextChange($event)'
          >
          <mat-icon matSuffix class='eye' (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
      </div>
    </form>
    <button mat-button (click)="onSubmit(first_name,middle_name,last_name,birthday,mobile_number,email,
      home_address,designation,team,department,supervisor,identification_number,position,shift,userName,password)"
    >
      Register
    </button>
    <button mat-button matStepperPrevious type="button">Back</button>
  </mat-step>
  
</mat-horizontal-stepper>