.container {
	width: 100%;
}

mat-card {
    text-align: center;
    // width: 60%;
    width: 100%;
    padding: 2em;
    margin: 2em, 1.5em;
}

table {
    // text-align: center;
    padding: 2em;
    margin: 2em, 1.5em;
    width: 100%;
}