<div class="container">
  <div class="col-md-6">
    <mat-card>
      <mat-card-title>Attendance</mat-card-title>      
      <mat-card-content>
        <mat-tab-group>
          <mat-tab label="Employee's Attendance">
            <ng-template matTabContent>
              Employee's Attendance
              <app-employee-attendance></app-employee-attendance>
            </ng-template>
          </mat-tab>
          
          <mat-tab *ngIf='show' label="{{ this.role }}'s Attendance">
            <ng-template matTabContent>
              {{ this.role }}'s Attendance
              <app-higher-role></app-higher-role>
            </ng-template>
          </mat-tab>
          
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-6">
    <mat-card>
      <mat-card-content>
        <span>
          <button mat-button (click)="save()">
            Save
          </button>
        </span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
