.row, .table-container {
    display: flex !important;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.table-container {
    flex-flow: column nowrap;
    min-width: 98%;
    max-width: 98%;
    margin: auto;
}

.row {
    flex-flow: row nowrap;
    flex: 1 1;
    margin: 5px;
    min-width: 98% !important;
    max-width: 98% !important;
}

.column {
    flex: 1 1;
    min-width: 9%;
    text-align: center;
}

.project-label {
    flex: 2 2 !important;
    min-width: 18% !important;
}

.header {
    background-color: #283593;
    color: white;
}

.mat-raised-button {
    margin: 5px;
}

.task-name {
    display: inline;
    font-weight: bold;
}

.sum {
    font-weight: bold;
    // font-size: 18px !important;
    // font-family: 'Nova Mono', monospace !important;
    font-family: 'Roboto Mono', monospace !important;
}