<div class="table-container">
    <mat-card class="row header">
        <div class="column project-label">Project</div>
        <div class="column" *ngFor="let dateH of dateHeader">{{dateH.day}}<p>{{dateH.date | date:"MMM dd"}}</p></div>
        <div class="column">
            <button mat-button>
                <i class="material-icons">navigate_before</i>
            </button>
        </div>
        <div class="column">
            <button mat-button>
                <i class="material-icons">navigate_next</i>
            </button>
        </div>
    </mat-card>
    
    <mat-card class="row" *ngFor="let item of weekValue; let i = index">
        <div class="column project-label">
            <p class="task-name">Task Name</p> (client)
            <br>
            {{item.Act}}
        </div>
        <mat-form-field class="column">
            <input matInput (keyup.enter)="timeSubmit(i, 'Mon', item.Mon)" [value]="item.Mon" [(ngModel)]="item.Mon">
        </mat-form-field>
        <mat-form-field class="column">
            <input matInput (keyup.enter)="timeSubmit(i, 'Tue', item.Tue)" [value]="item.Tue" [(ngModel)]="item.Tue">
        </mat-form-field>
        <mat-form-field class="column">
            <input matInput (keyup.enter)="timeSubmit(i, 'Wed', item.Wed)" [value]="item.Wed" [(ngModel)]="item.Wed">
        </mat-form-field>
        <mat-form-field class="column">
            <input matInput (keyup.enter)="timeSubmit(i, 'Thu', item.Thu)" [value]="item.Thu" [(ngModel)]="item.Thu">
        </mat-form-field>
        <mat-form-field class="column">
            <input matInput (keyup.enter)="timeSubmit(i, 'Fri', item.Fri)" [value]="item.Fri" [(ngModel)]="item.Fri">
        </mat-form-field>
        <mat-form-field class="column">
            <input matInput (keyup.enter)="timeSubmit(i, 'Sat', item.Sat)" [value]="item.Sat" [(ngModel)]="item.Sat">
        </mat-form-field>
        <mat-form-field class="column">
            <input matInput (keyup.enter)="timeSubmit(i, 'Sun', item.Sun)" [value]="item.Sun" [(ngModel)]="item.Sun">
        </mat-form-field>
        <div class="column sum">
            {{perProjectTotal[i].sum}}
        </div>
        <div class="column">
            <button mat-raised-button color="warn"><i class="material-icons md-18">delete</i></button>
        </div>
    </mat-card>

    <mat-card class="row">
        <div class="column project-label">
            <button mat-raised-button color="primary" (click)="newRow()">
                <i class="material-icons md-18">add</i>
                New Row
            </button>
        </div>
        <div class="column sum" *ngFor="let item of perDayTotal">
            {{item}}
        </div>
        <div class="column">
            <button mat-raised-button color="accent">Submit</button>
        </div>
    </mat-card>
</div>