.weather_container {
  height: 10%;
  width: 10rem;
  text-align: center;
}
  .city-name__text {
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
  }
  
  .temperature__text {
    align-self: end;
    width: 100%;
    font-size: 1.4rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
  }
  
  .temperature-metric__text {
    text-align: start;
    font-size: 0.8rem;
  }
  
  
  .weather-condition__text {
    display: block;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;

  }
  
  .weather-icon__container {
    width: 2rem;
    margin-top: 0.4rem;
    margin-bottom: 2rem;
    display: inherit;
    justify-content: center;
  }
  
  .weather-icon__container > svg {
    width: 10rem;
    height: 5rem;
  }