<mat-card>
  <mat-card-title>Edit Shift</mat-card-title>
  <mat-card-content>
    <form>
      <mat-form-field>
        <mat-label>Shift</mat-label>
          <mat-select formControlName="empShift" [(ngModel)]="shift">
            <mat-option>---</mat-option>
            <mat-option *ngFor="let shift of shifts" [value]="shift.value">
              {{shift.viewValue}}
            </mat-option>
          </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="warn">Cancel</button>
    &nbsp;
    <button mat-flat-button>Confirm</button>
  </mat-card-actions>
</mat-card>