<section>
  <div class="container">
    <!-- <mat-tab-group class="tab-group">
      <mat-tab label="Active Project">
        <app-active-project></app-active-project>
      </mat-tab>
      <mat-tab label="New Project">
        <app-new-project></app-new-project>
      </mat-tab>
    </mat-tab-group> -->

    
  </div>
</section>  