<!-- <div class="push"></div> -->
<mat-grid-list cols="3" rowHeight="3:2">
  <mat-grid-tile>
    <button mat-button class="tile" routerLink="/home">
        <div>
          <img src="./../../assets/icons/017-homepage.png" class="customIcon"/>
        </div>
        <span>Home</span>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-button class="tile" routerLink="/time-sheet">
      <div>
        <img src="./../../assets/icons/hourglass.png" class="customIcon"/>
      </div>
      <span>Time-Sheet</span>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-button class="tile" routerLink="/projects">
      <div>
        <img src="./../../assets/icons/board.png" class="customIcon"/>
      </div>
      <span>Manage Projects</span>
    </button>
  </mat-grid-tile>
</mat-grid-list>

<mat-grid-list cols="3" rowHeight="3:2">
  <mat-grid-tile>
    <button mat-button class="tile" routerLink="/team">
        <div>
          <img src="./../../assets/icons/group.png" class="customIcon"/>
        </div>
        <span>Team</span>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-button class="tile">
      <div>
        <img src="./../../assets/icons/030-calendar.png" class="customIcon"/>
      </div>
      <span>View Calendar</span>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-button class="tile">
      <div>
        <img src="./../../assets/icons/research.png" class="customIcon"/>
      </div>
      <span>Sili Search</span>
    </button>
  </mat-grid-tile>
</mat-grid-list>

<!--Manager and HR's Area-->

<mat-grid-list cols="3" rowHeight="2:1" *ngIf="manager">
  <mat-grid-tile>
    <button mat-button class="tile" routerLink="/team">
        <div>
          <img src="./../../assets/icons/networking.png" class="customIcon"/>
        </div>
        <span>Employee Management</span>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-button class="tile">
      <div>
        <img src="./../../assets/icons/031-calculator.png" class="customIcon"/>
      </div>
      <span>Expenses</span>
    </button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-button class="tile">
      <div>
        <img src="./../../assets/icons/line-graph.png" class="customIcon"/>
      </div>
      <span>Reports</span>
    </button>
  </mat-grid-tile>
</mat-grid-list>
