.headerBackground {
    background-image: linear-gradient(to right bottom, #00bedb, #00d2db, #00e4ca, #00f3aa, #58ff7c);
    height: 70%;
    width: 100%;
}

.customIcon {
    width: 60px;
    height: 60px;
}

.tile {
    width: 100%;
    height: 100%;
}

.header {
    position: absolute;
    //background-image: url('../../assets/bg/bg3.jpg');
    height: 70%;
    
}
.margins {
    margin-top: 5px;
 }

 .details {
    text-align: center;
    color: white;
 }
.profile-pic{
    border-radius: 100%;
}

.body-section-container-small, .body-section-container-big{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.body-section-container-big{
    flex-flow: column nowrap;
    width: 85%;
    margin: auto;
    margin-top: 10px;
}   

.body-section-card{
    flex: 1 1;
    min-height: 300px !important;
    margin: 10px;
    // background: #dfe6e9;
    // background: linear-gradient(to right, rgba(48, 207, 208, 0.4) 0%, rgba(51, 8, 103, 0.2) 100%) no-repeat;
}

.material-icons{
    margin: 0px;
    padding: 0px;
}

.mat-card-title{
    font-size: 1.2em;
    vertical-align: middle;
}

.container {
    display: flex !important;
    flex-flow: row nowrap;
    // justify-content:
    align-items: center;
    align-content: center;
}

.node {
    flex: 1 1 !important;
    // background-color: green;
}

.btn-node {
    justify-content: right !important;
}

.border {
    color: white;
    border-style: solid;
    border-width: 2px;
}

.spacing {
    margin-top: 3rem;
}