<div class="container">
  <div class="col-md-6">
    <div class="row">
      <div class="col1">
        <h3>Employee List</h3>
      </div>
      <div class="col2">
        <button mat-button (click)="registerModal(template)">Register Employees</button>
      </div>
    </div>

    <!--Modal Template-->
    <ng-template #template>
      <app-register-component></app-register-component>
    </ng-template>
    
    <ng-template #confirmTemplate>
      <app-confirmation-component></app-confirmation-component>
    </ng-template>
    
    <ng-template #empShift>
      <app-emp-shift></app-emp-shift>
    </ng-template>
    <!--End of Template-->
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Contact Details</th>
          <th class="text-center">Supervisor</th>
          <th class="text-center">Shift</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of empData" [attr.id]="emp.id">
          <td>{{emp.person_details.first_name}} {{emp.person_details.middle_name}} {{emp.person_details.last_name}}</td>
          <td>
            Email: {{emp.person_details.email}}<br>
            Mobile No.: {{emp.person_details.mobile_number}}
          </td>
          <td>{{emp.work_details.supervisor}}</td>
          <td>
            <i
              class="material-icons"
              matTooltip='{{emp.shifts.shiftDateFrom | date:"EEEE"}} - {{emp.shifts.shiftDateTo | date:"EEEE"}} {{emp.shifts.shiftTimeStart}}~{{emp.shifts.shiftTimeEnd}}'
              [matTooltipClass]="'tooltip'"
            >
              info
            </i>
              {{emp.employee_information.shift}}
          </td>
          <td>
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button
                mat-menu-item
                class="addShift"
                (click)="addShift(
                  emp.id,
                  emp.employee_information.identification_number,
                  emp.employee_information.position,
                  emp.employee_information.shift,
                  emp.employee_information.status
                )"
              >
                <mat-icon>add_box</mat-icon>
                <span>Add Shift</span>
              </button>
              <button
                mat-menu-item
                class="editShift"
                name='shift'
                (click)='changeShift(
                  emp.id,
                  emp.employee_information.identification_number,
                  emp.employee_information.position,
                  emp.employee_information.shift,
                  emp.employee_information.status
                )'
              >
                <mat-icon>edit</mat-icon>
                <span>Edit Shift</span>
              </button>
              <button
                mat-menu-item
                (click)='modifyEmp(
                  emp.id,
                  emp.person_details.first_name,
                  emp.person_details.middle_name,
                  emp.person_details.last_name,
                  emp.person_details.birthday,
                  emp.person_details.mobile_number,
                  emp.person_details.email,
                  emp.person_details.home_address,
                  emp.work_details.designation,
                  emp.work_details.team,
                  emp.work_details.department,
                  emp.work_details.supervisor,
                  emp.employee_information.identification_number,
                  emp.employee_information.position,
                  emp.employee_information.shift,
                  emp.employee_information.status
                )'
              >
                <mat-icon>people</mat-icon>
                <span>Modify Record</span>
              </button>
              <button
                mat-menu-item
                (click)="changeStatus(
                  emp.id,
                  emp.employee_information.identification_number,
                  emp.employee_information.position,
                  emp.employee_information.shift,
                  emp.employee_information.status
                )"
              >
                <mat-icon>remove</mat-icon>
                <span>{{emp.employee_information.status}}</span>
              </button>
            </mat-menu>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
