.container {
    .row {
        .col1 {
            width: 50%;
            margin: 0px;
        }
        .col2 {
            width: 50%;
            float: right;
            margin: 1%;
        }
    }
    tr {
        text-align: center;
        padding: 20px;
    }
}

.table-bordered {
    border: 1px solid #ddd;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
table {
    background-color: transparent;
    padding: 20px;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
* {
    box-sizing: border-box;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}
