/* You can add global styles to this file, and also import other style files */
@import '~material-design-icons/iconfont/material-icons.css';
@import 'styles/icons.scss';
@import 'styles/amihan-theme.scss';

* {
    margin: 0;
    // font-family: 'Roboto', 'monospace';
    font-family: 'Raleway', 'monospace' !important;
}

.material-icons {
    font-family: 'Material Icons' !important;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #e5ecf4;
}

.content-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
    margin-bottom: 50px;
}

.push {
    height: 4em !important;
} 

.mat-tooltip.tooltip {
    font-size: 1.2em;
    width: 70%;
    white-space: pre-line;
    text-align: center;
}