table{
    width: 100%;
    border-top: 1px solid grey;
    table-layout: fixed;
    border-bottom: 1px solid grey;
}
table p{
    font-size: 12px;
    color: rgb(119, 119, 119);
    margin-top: 0px !important;
}
table *{
    text-align: right;
    padding: 0px !important;
}

.table_header{
    border-bottom: 1px solid grey;
}

table input{
    width: 50%;
    line-height: 2;
    border-radius: 0px !important;
    border: solid 1px grey !important;
}

.mat-column-Act{
    color:grey;
    width: 270px !important;
    text-align: left !important;
}
.mat-form-field{
    display: block;
}

.mat-header-row{
    background:linear-gradient(skyblue,rgb(117, 117, 194))
}
.tab-container {
    min-width: 75%;
    max-width: 75%;
    // padding: 0px;
    margin: auto;
}
