<mat-tab-group class="tab-container">
    <mat-tab label="Weekly">
        <app-week-table></app-week-table>
    </mat-tab>
    <mat-tab label="Daily">
        <app-day-table></app-day-table>
    </mat-tab>
</mat-tab-group>
      



<!-- tab-container -->
