<div class="push"></div>
<div class="push"></div>

<mat-card class="warning-card">
    <mat-card-header>
        <i mat-card-avatar class="material-icons md-48">error_outline</i>
        <mat-card-title><h2>Error: 401</h2></mat-card-title>
        <mat-card-subtitle>You are not registered or unauthorized to access the site</mat-card-subtitle>
    </mat-card-header>
</mat-card>