<mat-card>
  <mat-card-title>Confirmation</mat-card-title>
  <mat-card-content>Do you want to deactivate ?</mat-card-content>
  <mat-card-actions>
    <button mat-button>Yes</button>
    <button mat-button>Cancel</button>
  </mat-card-actions>
</mat-card>